
<body style="background-image: url(/assets/background1.jpg)">
<div style="margin-top:20%">
	<div class="right-info" style="float:right">
		<h2 style="color:white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"> Sign in with Facebook  <br />below to get Started! </h2>
		<%= button_to "Sign in with Facebook", "/auth/facebook", id: "sign_in",class: "button" %>
	</div>
	<div class="left-info" style="float:left">
		<h1 style="color:white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"> Welcome to QuickByte. </h1>
		<h3 style="color:white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"> Never eat alone again. Find people <br /> to eat 
		with you in your network <br />while finding great restaurants near you!  </h3>
	
	</div>
</div>