<div class="panel">
	<div class="row">
	    <div class="large-6 columns">
			<h1>Create a New Meal!</h1>
			<%= render 'form' %>
			<%= link_to 'Back', meals_path %>
		</div>
		<div class="large-6 columns">
		  <h3 style="text-align:left;margin-top:20%"> To make a new meal <br /> <br /> 
		  Simply pick a location <br /> <br /> 
		  A start and end time <br /> <br /> 
		  And if you want this meal to be seen publicly <br /> <br /> 
		  Or only by certain people!</h3>
		</div>
	</div>
</div>